@charset "UTF-8";

@font-face {
    font-family: sriracha;
    src: url(fontes/Sriracha-Regular.ttf);
}
@font-face {
    font-family: passionone;
    src: url(fontes/PassionOne-Regular.ttf);
}


* {
    margin: 0px;
    padding: 0px;
}


html, body {
min-height: 100vh;  background-color: darkgray;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: passionone;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: border;
}

a:hover {
    background-color: fuchsia; 
}

section {
    font-family: sriracha;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0);
    background-color: rgb(39, 38, 38);
    color: white;
    background-attachment: fixed;
}

section.imagem > p {
    text-shadow: 1px 2px 0px black; 
   display: inline-block;
   padding: 5px;
    background-color: rgba(0, 0, 0, 0.479);
}

section#img1 {
background-image: url(imagens/img1.webp);
background-position: right center;
background-size: cover;


}

section#img2 {
background-image: url(imagens/img2.jpg);
background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}